doctype html
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
	meta(name="author" content="CapacitorSet")
	title Huft - human-friendly Tor
	style(type="text/css").
		/* Source: https://bestmotherfucking.website (with changes) */
		body {
			margin: 0 auto;
			max-width: 40em;
			padding: 1rem .62em;
			font-size: 1.2em;
			line-height: 1.62;
			font-family: "Open Sans", sans-serif;
		}
		h1, h2, h3 {
			line-height: 1.2;
		}
		blockquote {
			background-color: #eee;
			border-left: 6px solid silver;
			padding: 0.1em 1em 0.1em 1em;
			margin: 0;
		}
		pre {
			padding: 0.5rem 1rem;
			background-color: #f8f8f8;
			border: 1px solid #eee;
			border-radius: 0.15rem;
			margin-bottom: 1rem;
			overflow: auto;
		}
		a, a:visited {
			color: #07a;
		}
		header, footer {
			text-align: center;
		}
		article {
			border-left-width: 5px;
			border-left-style: solid;
			padding-left: 15px;
		}
		kbd {
			padding: 2px 4px;
			font-size: 90%;
			color: #c7254e;
			background-color: #f9f2f4;
			border-radius: 4px;
		}

		@media print {
			body {
				max-width: none
			}
		}
body
	script(type="text/javascript").
		// Self-hosted Piwik tracking

		var _paq = _paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
		_paq.push(["setCookieDomain", "*.capacitorset.github.io"]);
		_paq.push(["setDomains", ["*.capacitorset.github.io"]]);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//piwik.vps.denv.it/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '4']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
	noscript
		p: img(src="//piwik.vps.denv.it/piwik.php?idsite=4&rec=1" style="border:0;" alt="")

	header
		h1 Huft
		h2 Human-friendly Tor addresses
		h2: a(href="web+huft://page-shower-samples-higher-someone-hire-bound/huft/"): kbd web+huft://page-shower-samples-higher-someone-hire-bound
		br

	a(href="https://github.com/CapacitorSet/huft")
		img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")

	main
		section#what
			h2 What is Huft?
			p.
				#[b Huft] is a translation layer for .onion domains. It turns complicated, unreadable addresses like #[kbd http://expyuzz4wqqyqhjn.onion] into a human-readable list of words like #[kbd web+huft://page-shower-samples-higher-someone-hire-bound], and vice versa.
		section#install
			h2 How do I install Huft?
			p#howInstall(style="display: none").
				You can simply click #[a(href="javascript:register()") here]. The browser will display a confirmation dialog; click OK, and you're done.
			script document.getElementById("howInstall").style.display = "block";
			noscript JavaScript is required to install Huft. Enable it and reload the page.
		section#use
			h2 How do I use Huft?
			p.
				Once it's installed, you can simply click on #[kbd web+huft://] links and they will work automatically. Try it #[a(href="web+huft://page-shower-samples-higher-someone-hire-bound/huft/") here]: it should redirect you to the homepage of the Onion project.

		script.
			function register() {
				try {
					navigator.registerProtocolHandler("web+huft", "https://capacitorset.github.io/huft/handler.html#%s", "Huft");
				} catch (e) {
					alert(e);
				}
			}
	br
	footer: small.
		An application by #[a(href="https://capacitorset.github.io/") CapacitorSet].